* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

#notfound {
  background-image: url(./assets/img/fundo404.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: calc(100vh - var(--bodyPaddingTop));
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 1.5s steps(40, end);
  text-align: center;
  color: wheat;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.excluir {
    background-image: url(./assets/img/deletebtn.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    color: black;
    border-radius: 100px;
    cursor: pointer;
}